body          { font:12px "MS Song", "ו"; margin:0px;background-image:url(bj.jpg);background-position:center;background-repeat:no-repeat;background-attachment: scroll;background-position: center top;}
