@{
    ViewBag.Title = "Index";
}
<div style="padding-left:50px;font-size:larger;">
    <a href="/BuyInfo/Index">求购清单</a>
    <a href="/BuyInfo/Submit">提交求购信息</a>
    <br />
    <a href="/SaleInfo/Index">出售清单</a>
    <a href="/SaleInfo/Submit">提交出售信息</a>
</div>
