<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <statements>
    <select id="GetBuyInfos" parameterClass="BuyInfo" resultMap="BuyInfo-result">
      <![CDATA[
       select * from tab_buy t 
     ]]>
    </select>
    <select id="GetPageBuyInfos" parameterClass="Hashtable" resultMap="BuyInfo-result">
      <![CDATA[
       select * from tab_buy t order by SubTime desc limit $start$,$pageSize$ 
     ]]>
    </select>
    
    <select id="GetBuyInfoTotalCount" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(*) FROM tab_buy t   where 1=1
    </select>
    
    <insert id="InsertBuyInfo" parameterClass="BuyInfo">
      <![CDATA[
        INSERT INTO tab_buy
          (Name,
           Product,
           Tel,
           Price,
           SubTime)
        VALUES
          (#Name#,
           #Product#,
           #Tel#,
           #Price#,
           #SubTime#)
      ]]>
    </insert>
  </statements>
</sqlMap>