<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <statements>
    <select id="GetRoomOrders" parameterClass="RoomOrder" resultMap="RoomOrder-result">
      <![CDATA[
       select * from RoomOrder t 
     ]]>
    </select>
    <select id="GetPageRoomOrders" parameterClass="Hashtable" resultMap="RoomOrder-result">
      <![CDATA[
       select * from RoomOrder t order by SubmitTime desc limit $start$,$pageSize$ 
     ]]>
    </select>
    
    <select id="GetTotalCount" parameterClass="Hashtable" resultClass="int">
      SELECT COUNT(*) FROM RoomOrder t   where 1=1
    </select>
    
    <insert id="InsertRoomOrder" parameterClass="RoomOrder">
      <![CDATA[
        INSERT INTO RoomOrder
          (Name,
           School,
           Telphone,
           ExamType,
           SubmitTime)
        VALUES
          (#Name#,
           #School#,
           #Telphone#,
           #ExamType#,
           #SubmitTime#)
      ]]>
    </insert>
  </statements>
</sqlMap>