<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="RoomOrder" type="ChuanQi.Web.Models.RoomOrder,ChuanQi.Web"></typeAlias>
  </alias>

  <resultMaps>
    <resultMap id="Windy.WebMVC.Web2.DBAccess.RoomOrder-result" class="RoomOrder">
      <result property="ID" column="ID"  />
      <result property="Name" column="Name" />
      <result property="Telphone" column="Telphone"  />
      <result property="ExamType" column="ExamType" />
      <result property="School" column="School" />
      <result property="SubmitTime" column="SubmitTime" />
    </resultMap>
  </resultMaps>
</sqlMap>