<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Windy.WebMVC.Web2.DBAccess" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="SaleInfo" type="ChuanQi.Web.Models.SaleInfo,ChuanQi.Web"></typeAlias>
  </alias>

  <resultMaps>
    <resultMap id="Windy.WebMVC.Web2.DBAccess.SaleInfo-result" class="SaleInfo">
      <result property="ID" column="id"  />
      <result property="Name" column="name" />
      <result property="Tel" column="tel"  />
      <result property="Product" column="product" />
      <result property="Price" column="price" />
      <result property="SubTime" column="SubTime" />
      <result property="Place" column="place" />
    </resultMap>
  </resultMaps>
</sqlMap>