<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/js/bootstrap/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Content/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   
</body>
</html>


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <title>@ViewBag.Title</title>
    <meta name="Keywords" content="填入你网站的关键字，有益于搜索排名">
    <meta name="Description" content="填入你网站的关键字，有益于搜索排名">

    <link href="~/Content/image/image1.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        <!--
        .STYLE1 {
            font-size: 13px;
            font-weight: bold;
        }

        .STYLE2 {
            font-size: 13px;
        }

        .STYLE18 {
            font-size: 1px;
            color: #9094b7;
        }

        .STYLE20 {
            font-size: 1px;
            color: #3ed6e3;
        }

        .STYLE19 {
            font-size: 1px;
            color: #e1ccc7;
        }
        -->
    </style>
</head>
<body>
  
    <table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="163">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
           
            <td valign="top">
                <table width="100" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="100"><a href="http://www.guilai123.com/" class="STYLE18"></a><a href="http://www.wuyi9.com/" class="STYLE19"></a></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/image/gameinfo.jpg" width="771" height="33"></td>
                    </tr>
                    <tr>
                        <td height="69" background="~/Content/image/ct.jpg">&nbsp;</td>
                    </tr>
                    <tr>
                        <td background="~/Content/image/cc.jpg">
                            @RenderBody()
                        </td>
                    </tr>
                    <tr>
                        <td height="78" background="~/Content/image/cb.jpg">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <map name="Map">
        <area shape="rect" coords="19,4,109,35" href="/">
        <area shape="rect" coords="125,3,215,36" href="/">
        <area shape="rect" coords="235,3,327,41" href="/">
        <area shape="rect" coords="349,5,438,40" href="/">
        <area shape="rect" coords="569,5,659,37" href="/">
        <area shape="rect" coords="681,5,769,39" href="/">
        <area shape="rect" coords="788,5,873,40" href="/">
        <area shape="rect" coords="887,5,984,38" href="/">
    </map>
</body>
</html>
